 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/RecordViewLayout.cshtml";
}
@model List<HeadacheCDSSWeb.Models.VisitRecord>
<div id="content">
     <div id="ViewContent">
          <div id="ocx">
                 <object id="Reporter2" classid="clsid:466F909A-0EE1-4F40-A2CA-9906C5E36CB2" width="600"
                       height="540">
                  </object>
               </div>

                <div id="continue" class="button">
                    @Html.ActionLink("继续问诊", "ContinueDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="diagnosis" class="button">
                    @Html.ActionLink("开始新问诊", "GoToDiagnosis", new { id = ViewBag.patId })
                </div>
                <div id="delete" class="button" data-toggle="modal" data-target="#myModal">
                    <a>删除记录</a>
                </div>
     </div>
        <div id="DiaryView">
          <div id="ReportView">
            <div id="diaryreport">
              <table border="1" id="reportTable">
               <caption style="font-size:28px;">头痛日志分析报告</caption>
                <tr>
                <td style="width:33%"><a>统计日期</a></td>
                <td><a id="date"></a></td>
                </tr>

                <tr>
                <td><a>头痛频率</a></td>
                <td><a id="frequence"></a></td>  
                </tr>
                <tr>
                <td><a>持续时间</a></td>
                <td><a id="averagetime"></a></td>
                </tr>
                <tr>
                <td><a>头痛程度</a></td>
                <td><a id="degree"></a></td>
                </tr>

                <tr>
                <td><a>头痛性质</a></td>
                <td><a id="type"> </a></td>   
                </tr>

                <tr>
                <td><a>头痛部位</a></td>
                <td><a id="position"></a></td>
                </tr>
               
                <tr>
                <td><a>头痛先兆</a></td>
                <td id="prodrome"></td>
                </tr>

                <tr>
                <td><a>伴随症状</a></td>
                <td><a id="accompany"></a></td> 
                </tr>

                <tr>   
                <td><a>活动是否加剧头痛</a></td>
                <td><a id="IfActivityAggravate"></a></td>
                </tr>

                <tr>
                <td><a>头痛诱发因素</a></td>
                <td><a id="precipitatingFactor"></a></td>
                </tr>

                <tr>
                <td><a>头痛缓解因素</a></td>
                <td><a id="mitigatingFactors"></a></td>
                </tr>

                <tr> 
                <td><a>头痛总次数</a></td>
                <td><a id="times"></a></td>
                </tr>

                </table>
</div>
        </div>
          <div class="statics">
           <div id="time">
            <div id="datetimepicker1" class="input-append">
                    <input data-format="yyyy-MM-dd" type="text" name="date" id="d1"/>
                    <span class="add-on" id="add">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
                  <div id="seperateline"><a>--</a></div>
           <div id="datetimepicker2" class="input-append">
                    <input data-format="yyyy-MM-dd" type="text" name="date" id="d2" />
                    <span class="add-on" id="add">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>              
           </div> 
         <!--  <input type="submit" id="diarygraph" value="确定"/>    -->    
           <div id="line">
            <div id="variable1">
            <ul>
                <li>
                <span>头痛持续时间</span>
                <input type="radio" name="query1" value ="头痛时长" />
                </li>
                <li>
                <span>头痛程度评分</span>
                 <input type="radio" name="query1" value ="头痛程度"/>
                 </li>
             </ul>
            </div>
            <div id="linegraph"></div>
            <div style="float:left;padding-left:240px"><p id="averagenum"></p></div>
          </div>
          <div id="pie">
          <div id="variable2">
               <ul>
                <li>
                <span>头痛性质</span>
                <input type="radio" name="query2" value ="头痛性质" />
                </li>
                <li>
                <span>头痛部位</span>
                 <input type="radio" name="query2" value ="头痛部位"/>
                 </li>
                 <li>
                <span>伴随症状</span>
                 <input type="radio" name="query2" value ="伴随症状"/>
                 </li>
                 <li>
                <span>头痛先兆</span>
                 <input type="radio" name="query2" value ="头痛先兆"/>
                 </li>
                 <li>
                <span>诱发因素</span>
                 <input type="radio" name="query2" value ="诱发因素"/>
                 </li>
                 <li>
                <span>缓解因素</span>
                 <input type="radio" name="query2" value ="缓解因素"/>
                 </li>
             </ul>
         </div>
         <div id="piegraph"></div>
         </div>
     </div>

     <div id="suggestionView">
         <p class="noticeTitle">历史建议：</p>
         <div id="History">    
             <div id="ListOfAdvice"></div>    
         </div>
 
         <div class="adviceBox">
            <p class="noticeTitle">给患者的建议</p>
             <div class="edit"><textarea id="editAdvice"></textarea></div> 
            <input id="sendAdvice" class="button" type="submit" value="发送" />
            <input id="giveUp" class="button"  value="取消" />
         </div> 
    </div>
</div>
        <div id="@ViewBag.patId" class="PID" style="display:none;"></div>
        <div id="RecordID" class="@ViewBag.recordId" style="display:none;"></div>
    </div>
    <div id="sidebar">
    <div id="navigate">
          <div id="accordion">
          <h3 >头痛日志</h3>
          <div id="ui-accordion-accordion-panel-1">
              <ul class="diary">
              <li><img src="@Href("../../Content/images/chart.png")"  alt="text"/><a href="#"  id="statics">头痛情况统计分析</a></li>
              <li><div class="report">
                  <div style="float:left"><img src="@Href("../../Content/images/report.png")"  alt="text"/></div>
                  <div style="padding-top:19px"><a href="#" id="report" >近三个月分析报告</a></div>
                  </div>
               </li>
                <li><div class="sugestion">
                  <div style="float:left"><img src="@Href("../../Content/images/push.png")"  style="margin-left:2px;" alt="text"/></div>
                  <div style="padding-top:13px"><a href="#" id="suggestion" > 医生建议</a></div>
                  </div>
                  </li>
              </ul>
          </div>
          <h3>诊疗记录</h3>
          <div id="ui-accordion-accordion-panel-0">
            <div id="List">
            <ul class="paging">
            @foreach (var item in Model)
            {
                <li><img src="@Href("../../Content/images/notepad.png")" class="notepad"  alt="text"/><a href="#"  id="@item.Id">@item.VisitDate.Date.ToString("yyyy-MM-dd")</a></li>
            }
           </ul>
           </div>
            <div class="pagination">
            <a href="#" class="first" data-action="first">&laquo;</a> <a href="#" class="previous" data-action="previous">&lsaquo;</a>
            <input type="text" readonly="readonly" data-max-page="40" />
            <a href="#" class="next" data-action="next">&rsaquo;</a> <a href="#" class="last" data-action="last">&raquo;</a>
            </div>
          </div>
          
          
    </div>
  </div>
  <input type="submit" id="return" value="返回查询" onclick="returnSearch()"/>
  </div>
  <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">删除记录提示</h2>
  </div>
  <div class="modal-body">
    <p>确定删除本条记录？</p>
  </div>
  <div class="modal-footer">
    <button id="DeleteYes"class="btn">确定</button>
    <button id="DeleteNo"class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        var OCX = document.getElementById('Reporter2');
        try {
            OCX.OpenReport("D:\\CDSSOCX");
        }
        catch (err) {
            var b = confirm("是否下载显示控件");
            if (b) {
                var strOCXURL;
                strOCXURL = "http://115.28.42.235" + "/HeadacheCDSS/OCXForHeadacheCDSS.exe"; //提示找不到资源
                window.location.href = strOCXURL;
            }
        }
       // debugger;
        var stringArray = new Array();
        stringArray[0] = $(".PID").attr("id");
        stringArray[1] = $("#RecordID").attr("class");
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewVisitRecordDetail", "ViewPatRecord")',
            data: { PostID: stringArray },
            dataType: "json", type: "POST", traditional: true,
            success: function (data) {
                $("#ViewContent").show();
                $("#DiaryView").hide();
                //赋值
                SetReportData(data);
            },
            error: function (jqXhr, textStatus, errorThrown) {//？
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                alert("处理失败!");
            }
        });

        //打开第一个问诊记录
        $('.paging li a:first').addClass("CurrentView");
        $(".CurrentView").parent().css("background-color", "#B9DCF2");
        if ($(".paging li").length == 0) {
            $("#continue").hide();
            $("#delete").hide();
            $(".paging").append("<li><a>基本信息</a></li>");
        }
    });

    //返回  查询
    function returnSearch() {
        var userName = "@ViewBag.UserName";
        $.ajax({
            url: '@Url.Action("returnSearch", "ViewPatRecord")',
            data: { userName: userName },
            type: "POST",
            traditional: true,
            success: function (data) {
                if (data.OK) {
                    if (data.Message == "region") {
                        var t = setTimeout("  window.location.href = '@Url.Action("Index", "Region")'", 30);
                    } 
                    else { 
                        var t = setTimeout("  window.location.href = '@Url.Action("Index", "EnterPatInfor")'", 30);
                     }
                } else {
                        alert("Error '" + data.Message);
                }
            }
        });
        
    }

    //列表分页
    $(document).ready(function () {
        $(".paging").find("li").hide();
        $(".paging li:lt(7)").addClass("current").show();
        var num = Math.ceil($(".paging li").length / 7);
        $('.pagination').jqPagination({
            max_page: num,
            paged: function (page) {
                $(".current").hide();
                var start = (page - 1) * 7;
                for (var i = 0; i < 7; i++) {
                    $(".paging li:eq(" + start + ")").addClass("current").show();
                    start = start + 1;
                }
            }
        })
    });
    $(function () {
        $(".paging li  a").click(function () {
            var recordToView = $(this).attr("id");
            var stringArray = new Array();
            stringArray[0] = $(".PID").attr("id");
            stringArray[1] = recordToView;
            if ($(this).text() == "基本信息") {
                $("#ViewContent").show();
                $("#DiaryView").hide();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ViewVisitRecordDetail", "ViewPatRecord")',
                    data: { PostID: stringArray },
                    dataType: "json", type: "POST", traditional: true,
                    success: function (data) {
                        $("#ViewContent").show();
                        $("#DiaryView").hide();
                        //$('#ViewContent').html(data);
                        SetReportData(data);
                        $(".CurrentView").parent().css("background-color", "#D3E7F2");
                        $(".CurrentView").removeClass("CurrentView");
                        $('#' + recordToView).addClass("CurrentView");
                        $(".CurrentView").parent().css("background-color", "#B9DCF2");
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        alert("处理失败!");
                    }
                });
            }
        });

        $(".diary li a").click(function () {
            if ($(this).attr("id") == "statics") {
                $("#ViewContent").hide();
                $("#DiaryView").show();
                $(".statics").show();
                $("#ReportView").hide();
                $("#suggestionView").hide();
                //624更换时间插件
                $('#datetimepicker1').datetimepicker({
                    pickTime: false
                });
                $('#datetimepicker2').datetimepicker({
                    pickTime: false
                });
            }
            else {
                if ($(this).attr("id") == "suggestion") {
                    //医生建议
                    $("#ViewContent").hide();
                    $("#suggestionView").show();
                    $("#DiaryView").show();
                    $(".statics").hide();
                    $("#ReportView").hide();
                    var Pid = $(".PID").attr("id");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("HistoryAdvice", "ViewPatRecord")',
                        data: { PatID: Pid },
                        success: function (data) {
                            $("#ListOfAdvice").html(data);
                            ele=document.getElementById("History");
                            ele.scrollTop=ele.scrollHeight;
                        }
                    })
                }
                else {
                    //近三个月分析报告页 
                    var Pid = $(".PID").attr("id");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ViewDiaryReport", "ViewPatRecord")',
                        data: { PatID: Pid },
                        success: function (data) {  //这个data来源？ViewDiaryReport里调数据库？
                            $("#ViewContent").hide();
                            //debugger;620
                            document.getElementById('frequence').innerHTML = data.HDRfrequence;
                            document.getElementById('date').innerHTML = data.HDRdata;
                            document.getElementById('averagetime').innerHTML = data.AverageTime;
                            document.getElementById('degree').innerHTML = data.HDRdegree;
                            document.getElementById('type').innerHTML = data.HDRtype;
                            document.getElementById('position').innerHTML = data.HDRplace + "<br />" + data.IfAroundEye;
                            document.getElementById('prodrome').innerHTML = data.HDRprodrome
                            document.getElementById('accompany').innerHTML = data.HDRacompanion
                            document.getElementById('IfActivityAggravate').innerHTML = data.IfActivityAggravate
                            document.getElementById('precipitatingFactor').innerHTML = data.HDRprecipitatingFactor
                            document.getElementById('mitigatingFactors').innerHTML = data.HDRmitigatingFactors
                            document.getElementById('times').innerHTML = data.HDRtimes + "次"
                            $("#ReportView").show();
                            $("#DiaryView").show();
                            $(".statics").hide();
                            $("#suggestionView").hide();
                        },
                        error: function () {
                            alert("处理失败!");
                        }
                    });
                }
            }
        });


        $("#diarygraph").live("click", function () {//日期选择--确定
        });
        $("input:radio").click(function(){
            drawing();
        })
        $("#d1").change(function(){
        drawing();
        });
        $("#d2").change(function(){
        drawing();
        });
            function drawing(){
            var StartDate = $("#d1").val();
            var EndDate = $("#d2").val();
            var Pid = $(".PID").attr("id");
            var strSDate = StartDate.slice(0, 10).replace("/", "-").replace("/", "-") + " 00:00:00";
            var strEDate = EndDate.slice(0, 10).replace("/", "-").replace("/", "-") + " 00:00:00";
            var long = EndDate - StartDate;

            var selected1 = $("input:radio[name=query1]:checked").val(); //若未被选中 则val() = null
            var selected2 = $("input:radio[name=query2]:checked").val();
            var encoded = $.toJSON({ PID: Pid, StartDate: strSDate, EndDate: strEDate, query1: selected1, query2: selected2 });
            $.ajax({
                type: "POST",
                url: '@Url.Action("ViewDiary", "ViewPatRecord")',
                data: { postjson: encoded },
                success: function (data) {
                    var chartdata = new Array();
                    var axisDates = new Array();
                    // var interval="";
                    debugger;
                    var myobj = eval(data); //jsonstring 转回对象形式
                    var flag = myobj.length;
                    for (var i = 0; i < myobj.length; i++) {
                        if (myobj[i].kind == "0") {//数据中插入了【0,0】作为断点
                            flag = parseInt(i);
                            // interval=myobj[i].data.toString();
                            break;
                        }
                        else {

                            chartdata[i] = parseInt(myobj[i].data);
                            axisDates[i] = myobj[i].kind; //图2的数据
                        }
                    }
                    var linedata = [];
                    var lineaxis = [];
                    var newobj = new Array(new Array(), new Array());
                    var index = 0;
                    var sum = 0;
                    for (var j = flag + 1; j < myobj.length; j++) {
                        newobj[index] = [myobj[j].kind, parseFloat(myobj[j].data)];
                        index++;
                        sum += myobj[j].data;
                    }
                    var averagenum = (sum / (index)).toFixed(1);
                    document.getElementById('averagenum').innerHTML = "平均值：" + averagenum.toString();
                    $("#linegraph").children().remove();
                    $("#piegraph").children().remove();
                    if (newobj.length == 0)
                        newobj = [[0, 0], [0, 0], [0, ], [0, 0], [0, 0], [0, 0]];
                    //图1
                    debugger;
                    var ylabel = "";
                    if (selected1 == "头痛时长") {
                        ylabel = "小时"
                    } else { ylabel = "分数"; }

                    var plot1 = $.jqplot('linegraph', [newobj],
                                        { axes:
                                           {
                                               xaxis: {
                                                   renderer: $.jqplot.DateAxisRenderer,
                                                   tickOptions: { formatString: '%b&nbsp;%#d' }
                                               },
                                               yaxis: { label: ylabel }
                                           }
                                        });
                    $.jqplot.config.enablePlugins = true;


                    //图2
                    if (chartdata.length == 0) {
                        axisDates = ["", "", ""];
                        chartdata = [0, 0, 0];
                    }
                    if (selected2 == "头痛性质" || selected2 == "头痛部位") {
                        //饼状图
                        var databar = new Array(new Array(), new Array());
                        var abc = 0;
                        for (var j = 0; j < chartdata.length; j++) {
                            databar[abc] = [axisDates[j], chartdata[j]];
                            abc++;
                        }
                        if (databar.length == 0) {
                            databar = [["", 0], ["", 0], ["", 0]]
                        }
                        var plot2 = $.jqplot('piegraph', [databar], {
                            title: selected2,
                            seriesDefaults: {
                                // Make this a pie chart.
                                renderer: jQuery.jqplot.PieRenderer,
                                rendererOptions: {
                                    // Put data labels on the pie slices.
                                    // By default, labels show the percentage of the slice.
                                    showDataLabels: true
                                }
                            },
                            legend: { show: true, location: 'e' }
                        });

                    } else {
                        // 百分比柱状图
                        var plot2 = $.jqplot('piegraph', [chartdata], {
                            title: selected2,
                            seriesDefaults: {
                                renderer: $.jqplot.BarRenderer,
                                rendererOptions: {
                                    barPadding: 1,
                                    barMargin: 15,
                                    barDirection: 'vertical',
                                    barWidth: 45,
                                    varyBarColor: true
                                },
                                pointLabels: { show: true }
                            },
                            axes: {
                                xaxis: {
                                    renderer: $.jqplot.CategoryAxisRenderer,
                                    ticks: axisDates
                                },
                                yaxis: {
                                    label: '百分比',
                                    tickOptions: {
                                        formatString: '%d'
                                    }
                                }
                            },
                            highlighter: {
                                sizeAdjust: 7.5
                            },
                            cursor: {
                                show: true
                            }
                        });
                    } //else
                }, //success
                error: function () {
                    alert("处理失败!");
                }
            }); //ajax
            }


        $("#delete").click(function () {
            debugger;
            $("#ViewContent").hide();
            $("#myModal").show();
        })
        $("#DeleteYes").click(function () {
            var pid = '@ViewBag.patId';
            $.ajax({
                url: '@Url.Action("DeleteRecord", "ViewPatRecord")',
                type: "POST",
                data: { id: pid },
                success: function (data) {
                    if (data.OK) {
                        $('#' + data.Message).parent().remove();
                        $('#myModal').modal('hide');
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });
        })
        $("#DeleteNo").click(function () {
            $("#ViewContent").show();
        })

        $("#sendAdvice").click(function () {
            debugger;
            var pid = '@ViewBag.patId';
            var strAdvice = $("#editAdvice").val();
            $.ajax({
                url: '@Url.Action("SendAdvice", "ViewPatRecord")',
                type: "POST",
                data: { id: pid, strAdvice: strAdvice },
                success: function (data) {
                    if (data.OK) {
                        debugger;
                        var PatID = data.Message;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("HistoryAdvice", "ViewPatRecord")',
                            data: { PatID: pid },
                            success: function (data) {
                                $("#ListOfAdvice").html(data);
                                $("#editAdvice").val("");
                                ele=document.getElementById("History");
                                ele.scrollTop=ele.scrollHeight;
                                alert("发送成功");
                            }
                        })

                    } else {
                        alert(data.Message);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            })
        })
        $("#giveUp").click(function () {
            $("#editAdvice").val("");
        })
    });

    function SetReportData(jsonData) {
        //debugger;
        var obj = eval('(' + jsonData + ')');
        var OCX = document.getElementById('Reporter2');

        //set doctor advice
        var strDoctorAdvice = "";
        var listMedicationAdvice = obj.medicationadvice;
        for (var nIndex = 0; nIndex < listMedicationAdvice.length; ++nIndex) {
            var strDrugName = listMedicationAdvice[nIndex].DrugName;
            var strDrugDose = listMedicationAdvice[nIndex].DrugDose;
            var strDrugDoseUnit = listMedicationAdvice[nIndex].DrugDoseUnit;
            var strDrugApplication = listMedicationAdvice[nIndex].DrugApplication;
            if (nIndex < 2)
                strDoctorAdvice += strDrugName + " " + strDrugDose + strDrugDoseUnit + " " + strDrugApplication + "\n";
            else
                strDoctorAdvice += strDrugName + " " + strDrugDose + strDrugDoseUnit + " " + strDrugApplication;
        }
        OCX.SetObjectInfo("TextBox_24", "text", strDoctorAdvice);
        //set patient basic information
        //get data
        var strName = "";
        if (null != obj.Name)
            strName = obj.Name;
        var strSex = "";
        if (null != obj.Sex)
            strSex = obj.Sex;

        var strAge = "";
        if (null != obj.Age)
            strAge = obj.Age;

        var strEducation = "";
        if (null != obj.Education)
            strEducation = obj.Education;

        var strJob = "";
        if (null != obj.Job)
            strJob = obj.Job;

        var strPhone = "";
        if (null != obj.Phone)
            strPhone = obj.Phone;

        var strAddress = "";
        if (null != obj.Address)
            strAddress = obj.Address;

        var strChiefDoctor = "";
        if (null != obj.ChiefDoctor)
            strChiefDoctor = obj.ChiefDoctor;

        var strPatientInfo = "姓名：" + strName;
        strPatientInfo += "             性别:" + strSex;
        strPatientInfo += "             年龄:" + strAge + "\n";
        strPatientInfo += "电话:" + strPhone;     
        OCX.SetObjectInfo("TextBox_21", "text", strPatientInfo);
        if (obj.ChiefComplaint != null) {
            var strChiefComplaint = obj.ChiefComplaint;
            OCX.SetObjectInfo("TextBox_22", "text", strChiefComplaint);
        }

        //set diagnoses
        var strDiagnoses = "";
        if (null != obj.DiagnosisResult1)
            strDiagnoses += obj.DiagnosisResult1;
        if (null != obj.DiagnosisResult2)
            strDiagnoses += " " + obj.DiagnosisResult2;
        if (null != obj.DiagnosisResult3)
            strDiagnoses += " " + obj.DiagnosisResult3;
        if ("" != strDiagnoses)
            OCX.SetObjectInfo("TextBox_23", "text", strDiagnoses);
        OCX.ShowReport();
        OCX.ShowThisPage("就诊记录");
    } 
  </script>