@model HeadacheCDSSWeb.Models.PatBasicInfor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PatLayout.cshtml";
}

@{
    var items = new SelectList(new[]
        { 
           new SelectListItem {Text = "", Value = ""},
            new SelectListItem {Text = "男", Value = "男"},
            new SelectListItem {Text = "女", Value = "女"},
        }, "Text", "Value");
}
@{
    var diagnosis = new SelectList(new[]
        {  new SelectListItem {Text = "", Value = ""},
            new SelectListItem {Text = "很可能的偏头痛", Value = "很可能的偏头痛"},
            new SelectListItem {Text = "无先兆性偏头痛", Value = "无先兆性偏头痛"},
             new SelectListItem {Text = "先兆性偏头痛", Value = "先兆性偏头痛"},
             new SelectListItem {Text = "偶尔发作性紧张型头痛", Value = "偶尔发作性紧张型头痛"},
            new SelectListItem {Text = "频繁阵发性紧张型头痛", Value = "频繁阵发性紧张型头痛"},
             new SelectListItem {Text = "丛集性头痛或其他三叉自主神经痛", Value = "丛集性头痛或其他三叉自主神经痛"},
             new SelectListItem {Text = "药物滥用引起的头痛", Value = "药物滥用引起的头痛"},
            new SelectListItem {Text = "慢性偏头痛", Value = "慢性偏头痛"},
             /*new SelectListItem {Text = "先兆性偏头痛", Value = "先兆性偏头痛"},*/
             new SelectListItem {Text = "慢性紧张型头痛", Value = "慢性紧张型头痛"},
            new SelectListItem {Text = "新发每日持续性头痛", Value = "新发每日持续性头痛"},
             new SelectListItem {Text = "其他慢性每日头痛", Value = "其他慢性每日头痛"},
              new SelectListItem {Text = "其他原发性头痛", Value = "其他原发性头痛"},
        }, "Text", "Value");
}
@{
    var education = new SelectList(new[]
        {  new SelectListItem {Text = "", Value = ""},
            new SelectListItem {Text = "1", Value = "文盲"},
            new SelectListItem {Text = "2", Value = "小学"},
             new SelectListItem {Text = "3", Value = "初中"}, 
          new SelectListItem {Text = "4", Value = "高中/中专"},
             new SelectListItem {Text = "5", Value = "大专/大学及以上"},
        }, "Text", "Value");
}
<div id="content" style=" display:inline">
    <div id="query">
        @using (Ajax.BeginForm("Query", new AjaxOptions { UpdateTargetId = "List", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "ListPage" }))
        {
            <h2 class="title">
                查询病人</h2>
            <ul>
                <li><span>姓名</span>
                    @Html.TextBox("name")
                </li>
                <li><span>性别</span>
                    @Html.DropDownList("sex", @items)
                </li>
                <li><span>就诊日期</span><input type="text" name="date" id="date" />
                </li>
                <li><span>诊断结论</span> @Html.DropDownList("diagnosis", @diagnosis)
                </li>
            </ul>
         
            <p>
                <input type="submit" value="查询病人" /></p>
        
        }
    </div>
    <div id="entry" >
        <h2 class="title">
            新病人注册</h2>
        <div id="label" style=" display:inline">
            @using (Html.BeginForm("Index"))
            {
                <ul>
                    
                    
                    <li><span>姓名</span>@Html.EditorFor(model => model.Name)<p>*</p></li>
                    <li><span>性别</span>@Html.DropDownListFor(model => model.Sex, @items) <p>*</p></li>
                    <li><span>年龄</span> @Html.EditorFor(model => model.Age)<p>*</p></li>
                    <li><span>手机</span>@Html.EditorFor(model => model.Phone)<p>*</p></li>
                    <li><span>身高</span>@Html.EditorFor(model => model.Height)<a>cm</a></li>
                    <li><span>体重</span>@Html.EditorFor(model => model.Weight)<a>kg</a> </li>
                    <li><span>教育</span>@Html.DropDownListFor(model => model.Education, @education)</li>
                    <li><span>职业</span>@Html.EditorFor(model => model.Job) </li>
                    <li><span>住址</span> @Html.EditorFor(model => model.Address)</li>
                    
                </ul>
            
                <p>
                    <input type="submit" value="注册新患者" /></p>
            
            }
        </div>
        <div>
            <span class="error" id="login_msg">@Html.ValidationSummary()</span></div>
    </div>
</div>
<div id="sidebar">
    <div id="List">
        <h2>病人列表</h2>
    </div>
     <div class="pagination">
        <a href="#" class="first" data-action="first">&laquo;</a>
        <a href="#" class="previous" data-action="previous">&lsaquo;</a>
        <input type="text" readonly="readonly" data-max-page="40" />
        <a href="#" class="next" data-action="next">&rsaquo;</a>
        <a href="#" class="last" data-action="last">&raquo;</a>
    </div>
</div>

@*<div id="deletediv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deletedivLabel" aria-hidden="true">
  <div class="deletediv-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="deletedivLabel">删除病人提示</h2>
  </div>
  <div class="deletediv-body">
    <p>确定删除此病人信息？</p>
  </div>
  <div class="deletediv-footer">
    <button id="DeletePtYes"class="btn">确定</button>
    <button id="DeletePtNo"class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  </div>
</div>*@


<script type="text/javascript">
    $(function () {
        $(".pagination").hide();
        $("#date").Zebra_DatePicker();
    });
    function ListPage() {
        $(".page").find("li").hide();
        $(".pagination").show();
        $(".page li:lt(12)").addClass("current").show();
        var num = Math.ceil($(".page li").length / 12);
        $('.pagination').jqPagination({
            max_page: num,
            paged: function (page) {
                $(".current").hide();
                var start = (page - 1) * 12;
                for (var i = 0; i < 12; i++) {

                    $(".page li:eq(" + start + ")").addClass("current").show();
                    start = start + 1;
                }

            }
        })
    }
   
</script>

